<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="" method="get">
            <!-- <label for="pincode">Pincode</label> -->
            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="e.g., 232101">
            <button type="submit">click me!</button>
        </form>
    <p><strong>Temperature:</strong> {{ temp }}°C</p>
</body>
</html>